<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.ClubNoticeMapper">

    <resultMap type="com.ruoyi.user.domain.ClubNotice" id="ClubNoticeResult">
        <id property="noticeId" column="notice_id"/>
        <result property="clubId" column="club_id"/>
        <result property="noticeTitle" column="notice_title"/>
        <result property="noticeType" column="notice_type"/>
        <result property="noticeContent" column="notice_content"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="isTop" column="is_top"/>
        <result property="isImportant" column="is_important"/>
        <result property="viewCount" column="view_count"/>
        <result property="publishTime" column="publish_time"/>
        <result property="publisherId" column="publisher_id"/>
        <result property="publisherName" column="publisher_name"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
        <result property="clubName" column="club_name"/>
    </resultMap>

    <sql id="selectClubNoticeVo">
        select n.notice_id, n.club_id, n.notice_title, n.notice_type, n.notice_content, n.cover_url,
               n.is_top, n.is_important, n.view_count, n.publish_time, n.publisher_id, n.publisher_name,
               n.status, n.del_flag, n.create_time, n.remark, c.club_name
        from club_notice n
        left join club c on n.club_id = c.club_id
    </sql>

    <select id="selectClubNoticeList" parameterType="com.ruoyi.user.domain.ClubNotice" resultMap="ClubNoticeResult">
        <include refid="selectClubNoticeVo"/>
        <where>
            n.del_flag = '0'
            <if test="clubId != null">AND n.club_id = #{clubId}</if>
            <if test="noticeTitle != null and noticeTitle != ''">AND n.notice_title like concat('%', #{noticeTitle}, '%')</if>
            <if test="status != null and status != ''">AND n.status = #{status}</if>
            <if test="noticeType != null and noticeType != ''">AND n.notice_type = #{noticeType}</if>
            <if test="params != null and params.clubIds != null and params.clubIds.size() > 0">
                AND n.club_id in
                <foreach collection="params.clubIds" item="cid" open="(" separator="," close=")">#{cid}</foreach>
            </if>
        </where>
        order by n.is_top desc, n.publish_time desc
    </select>

    <select id="selectClubNoticeById" parameterType="Long" resultMap="ClubNoticeResult">
        <include refid="selectClubNoticeVo"/>
        where n.notice_id = #{noticeId} and n.del_flag = '0'
    </select>

    <select id="selectNoticeByClubId" parameterType="Long" resultMap="ClubNoticeResult">
        <include refid="selectClubNoticeVo"/>
        where n.club_id = #{clubId} and n.del_flag = '0' and n.status = '1'
        order by n.is_top desc, n.publish_time desc
    </select>

    <insert id="insertClubNotice" parameterType="com.ruoyi.user.domain.ClubNotice" useGeneratedKeys="true" keyProperty="noticeId">
        insert into club_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clubId != null">club_id,</if>
            <if test="noticeTitle != null and noticeTitle != ''">notice_title,</if>
            <if test="noticeType != null and noticeType != ''">notice_type,</if>
            <if test="noticeContent != null">notice_content,</if>
            <if test="coverUrl != null">cover_url,</if>
            <if test="isTop != null">is_top,</if>
            <if test="isImportant != null">is_important,</if>
            <if test="viewCount != null">view_count,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="publisherId != null">publisher_id,</if>
            <if test="publisherName != null">publisher_name,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clubId != null">#{clubId},</if>
            <if test="noticeTitle != null and noticeTitle != ''">#{noticeTitle},</if>
            <if test="noticeType != null and noticeType != ''">#{noticeType},</if>
            <if test="noticeContent != null">#{noticeContent},</if>
            <if test="coverUrl != null">#{coverUrl},</if>
            <if test="isTop != null">#{isTop},</if>
            <if test="isImportant != null">#{isImportant},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="publisherId != null">#{publisherId},</if>
            <if test="publisherName != null">#{publisherName},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateClubNotice" parameterType="com.ruoyi.user.domain.ClubNotice">
        update club_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="clubId != null">club_id = #{clubId},</if>
            <if test="noticeTitle != null and noticeTitle != ''">notice_title = #{noticeTitle},</if>
            <if test="noticeType != null and noticeType != ''">notice_type = #{noticeType},</if>
            <if test="noticeContent != null">notice_content = #{noticeContent},</if>
            <if test="coverUrl != null">cover_url = #{coverUrl},</if>
            <if test="isTop != null">is_top = #{isTop},</if>
            <if test="isImportant != null">is_important = #{isImportant},</if>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="publisherId != null">publisher_id = #{publisherId},</if>
            <if test="publisherName != null">publisher_name = #{publisherName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where notice_id = #{noticeId}
    </update>

    <delete id="deleteClubNoticeById" parameterType="Long">
        update club_notice set del_flag = '2' where notice_id = #{noticeId}
    </delete>

    <delete id="deleteClubNoticeByIds" parameterType="String">
        update club_notice set del_flag = '2' where notice_id in 
        <foreach item="noticeId" collection="array" open="(" separator="," close=")">
            #{noticeId}
        </foreach>
    </delete>
</mapper>
